<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>{% if page_title %}{{ page_title }} - {% endif %}{{ config['site_title'] | safe }}</title>
  <meta name="description" content="{{ config['site_meta_desc'] | safe }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  
  #hypnos {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 500ms;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .container {
    opacity: 0;
    display: none;
  }
  </style>
</head>

<body>
  <canvas id="hypnos"></canvas>
  <script>
  window.onload = function() {
    setTimeout(function() {
      document.body.classList.add('loaded');
      var glitch = document.getElementById('glitch');
      if (glitch) setTimeout(function() {
        glitch.classList.add('show');
      }, 800);
      setTimeout(function() {
        canvas.remove();
        canvas = null;
      }, 1000);
    }, 30);
  }
  var canvas = document.getElementById('hypnos'),
    context = canvas.getContext('2d'),
    width = window.innerWidth,
    height = window.innerHeight,
    radius = Math.min(width, height, 300) * 0.5,
    quality = 180,
    stepSize = 0.08,
    layers = [],
    strokeColor = '#D5D8DD',
    textColor = '#E0E3E5',
    fillColor = '#F0F1F3',
    periodCount = 0,
    layerSize = radius * 0.20,
    layerOverlap = Math.round(quality * 0.3);

  function initialize() {
    for (var i = 0; i < quality; i++) {
      layers.push({
        x: width / 2 + Math.sin(i / quality * 2 * Math.PI) * (radius - layerSize),
        y: height / 2 + Math.cos(i / quality * 2 * Math.PI) * (radius - layerSize),
        r: (i / quality) * Math.PI
      });
    }
    resize();
    update();
  }

  function resize() {
    canvas.width = width;
    canvas.height = height;
  }

  function update() {
    if (canvas) {
      requestAnimationFrame(update);
      step();
      clear();
      paint();
    }
  }

  function step() {
    for (var i = 0, len = layers.length; i < len; i++) {
      layers[i].r += stepSize;
    }
    stepSize += 0.00015;
  }

  function clear() {
    context.clearRect(0, 0, canvas.width, canvas.height);
  }

  function paint() {
    var layersLength = layers.length;
    for (var i = layersLength - layerOverlap, len = layersLength; i < len; i++) {
      context.save();
      context.globalCompositeOperation = 'destination-over';
      paintLayer(layers[i]);
      context.restore();

    }
    context.save();
    context.globalCompositeOperation = 'destination-in';
    paintLayer(layers[0], true);
    context.restore();
    for (var i = 0, len = layersLength; i < len; i++) {
      context.save();
      context.globalCompositeOperation = 'destination-over';
      paintLayer(layers[i]);
      context.restore();
    }
    context.fillStyle = textColor;
    context.font = "24px Verdana";
    var periods = '';
    for (var x = 0; x < (periodCount / 20) - 1; x++) {
      periods += '.';
    }
    context.fillText("Loading" + periods, width / 2 - 55, height / 2 + 13);
    if (periodCount < 80) periodCount++;
    else periodCount = 0;
  }

  function paintLayer(layer, mask) {
    size = layerSize + (mask ? 10 : 0);
    size2 = size / 2;

    context.translate(layer.x, layer.y);
    context.rotate(layer.r);

    if (!mask) {
      context.strokeStyle = strokeColor;
      context.lineWidth = 1;
      context.strokeRect(-size2, -size2, size, size);
    }

    context.fillStyle = fillColor;
    context.fillRect(-size2, -size2, size, size);

  }
  (function() {
    var lastTime = 0;
    var vendors = ['ms', 'moz', 'webkit', 'o'];
    for (var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
      window.requestAnimationFrame = window[vendors[x] + 'RequestAnimationFrame'];
      window.cancelAnimationFrame =
        window[vendors[x] + 'CancelAnimationFrame'] || window[vendors[x] + 'CancelRequestAnimationFrame'];
    }
    if (!window.requestAnimationFrame)
      window.requestAnimationFrame = function(callback, element) {
        var currTime = new Date().getTime();
        var timeToCall = Math.max(0, 16 - (currTime - lastTime));
        var id = window.setTimeout(function() {
            callback(currTime + timeToCall);
          },
          timeToCall);
        lastTime = currTime + timeToCall;
        return id;
      };
    if (!window.cancelAnimationFrame)
      window.cancelAnimationFrame = function(id) {
        clearTimeout(id);
      };
  }());
  initialize();
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments);
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-68107352-1', 'auto');
  ga('send', 'pageview');
  </script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/style.css">
  <link rel="stylesheet" href="{{ config['assets_address'] | safe }}/css/nv.d3.css?revision={{ config['hash'] }}">
  <script src="{{ config['assets_address'] | safe }}/js/jquery-2.1.0.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/d3-3.4.2.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/ZeroClipboard-1.3.3.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/nv.d3.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/jquery.tablesorter.min.js"></script>
  <script src="{{ config['assets_address'] | safe }}/js/utils.js?revision={{ config['hash'] }}"></script>
  <script src="{{ config['assets_address'] | safe }}/js/graph.js?revision={{ config['hash'] }}"></Script>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
</body>

</html>
