{% extends "base.html" %} {% block body %}
<div id="pageContainer" class="page-container">
  <div class="sidebar-menu fixed">
    <div class="sidebar-menu-inner">
      <header class="logo-env">
        <div class="logo">
          <a href="http://npool.ga/">
            <h1 class="glitch" data-text="nPool">nPool</h1>
          </a>
        </div>
        <div class="sidebar-collapse">
          <a href="javascript:document.getElementById('pageContainer').classList.toggle('sidebar-collapsed')">
            <div class="triangle-left"></div>
            <div class="triangle-right"></div>
          </a>
        </div>
      </header>
      <ul id="main-menu" class="main-menu">
        <li class="root-level">
          <a href="/about">
            <i class="about"></i>
            <span>About</span>
          </a>
        </li>
        <li class="{% if active_page == 'config' %}active {% endif %}root-level">
          <a href="/configuration_guide">
            <i class="get-started"></i>
            <span>Get Started</span>
          </a>
        </li>
        <li class="root-level">
          <a href="/pool_stats">
            <i class="stats"></i>
            <span>Stats</span>
          </a>
        </li>
        <li class="root-level">
          <a href="/pool_stats">
            <i class="pool"></i>
            <span>Pool Stats</span>
          </a>
        </li>
        <li class="root-level">
          <a href="/leaderboard">
            <i class="leaderboard"></i>
            <span>Leaderboard</span>
          </a>
        </li>
        <li class="root-level">
          <a href="mailto:nickgzzjr@gmail.com">
            <i class="contact"></i>
            <span>Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    {% block dashboard %}{% endblock %}
    <footer>
      BTC &nbsp; 
       <img width="16" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACFUlEQVRYR81X7VHCQBB9C8zoDCbagViBWoFYgViBWIFaAVqBWIFYgVKBWIFYgdgBXHRGZ5KsswmnEXJywUDM7317L+/24x2h4I9M53O1uoNy+QBEOwA2wNwD8wCe1yVgmIZjiXMcwdRAVIfEMfcRBF16e+unYaYIsOM0UCpdAqgZxWFuQ6kLTSQ62HVbIDr9RdABwvCMPO8uGfODALtuB0RHlrcyhO/vR7GVyn2kks3H3CGljnXoF4GMh2u8vgq7wzUqQSIiMJb91uYHcosJw0O5jpjA+voAwGZuye0SDWg02iJ2nCZKpWs7TM5RYXhM7Lp3IDrIObVdOuYbKkh+TbAvBNiO7mKi/gWBIjpAy/kkCvQA7C1G4BlZmbvSBecgahVE4IKirVepPBZCwPd39SSUVbm9ZBIPNBrVYwJra3WUy7LRlvcFwT69vvaS23B5E1GKT6mG/O03gdXVGlZWnpciwcfHFr2/S/t/Exiv5cUvJllAnteZMiRfXiGbK8ommCwfpZpJUKopXdBwiqp+knE6AfF38YTMqzWfELfclJs22/LY6YpJ/ZtXSJF95hUkA+Y0q3GKGYdPdYGpouaybRPVbsptvIJJwHhnyKNilnl9ge83TC8hqyI0KhHXhWzPk9QY5isodW56uqVhrBX4URfx7pBhotV4QRA0ZbZnGwwTkzArOPISwJCUamfFGifhvInmxX0ChZ7LEcOI/mEAAAAASUVORK5CYII="/>
       &nbsp;<a href="bitcoin:1HgDYmWYjHH6NicH6PUpY7Bia7CaYsJn1C">1HgDYmWYjHH6NicH6PUpY7Bia7CaYsJn1C</a> &nbsp;
      <div>&copy; 2015 All Rights Reserved.</div>
    </footer>
  </div>
</div>
{% endblock %}
