<table class="table top-margin">
  <tr>
    <td>
      {{ round_data['currency_data']['name'] }} ({{ algo }})
    </td>
    <td>
      {{ _("Current Hashrate:") }} {{ round_data['currency_data']['hashrate'] | hashrate }}
    </td>
    <td>
      Past 24h Profit: {{ round_data['currency_data']['profitability'] }} BTC/MH
    </td>
    {% if round_data['start_time'] %}
    <td>
      {{ _("Last Solve:") }} {{ round_data['start_time'] | human_date_utc }}
    </td>
    {% endif %}
  </tr>
</table>
<div id="{{ round_data['currency_data']['code'] }}-details">
  {% set blocks = round_data['currency_data']['blocks'] %} {% set current_block = round_data %} {% include "block_table.html" %}
  {% if round_data['currency_data']['blocks'] %}
  <div class="well well-sm" style="text-align:center;background-color:#212F3D;margin-top:-21px;margin-bottom:21px;">
    <a href="/blocks/{{ round_data['currency_data']['code'] }}">
      {{ _("View more") }} {{ round_data['currency_data']['name'] }} {{ _("blocks") }}
    </a>
  </div>
  {% endif %}
</div>
